NET "CLK" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "EN" LOC = "V8" | IOSTANDARD = LVCMOS33;
NET "DIR" LOC = "U10" | IOSTANDARD = LVCMOS33;
NET "SPEED" LOC = "U8" | IOSTANDARD = LVCMOS33;
NET "INVERT" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33;
NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33;


